[user]
	email = asishathota@gmail.com
	name = asish
[init]
	defaultBranch = main
[core]
	editor = nvim
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
